<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">

    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet">

    <title>{{ project.name }} {{ project.desc }}</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ project.name }} {{ project.desc }}</a>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/docs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
